@if (activity(); as activity) {
<article>
  <header>
    <h2>{{ activity | activityTitle }}</h2>
    <div>
      <span>{{ activity.date | date: 'dd-MMM-yyyy' }}</span>
      <qv1-activity-status [status]="activity.status" />
      <span>{{ activity.price | currency }}</span>
    </div>
  </header>
  <main>
    <h4>Participants</h4>
    <div>Already participants: {{ currentParticipants }}</div>
    <div>
      @for (participant of participants(); track participant.id) {
      <span>{{ participant.id }}</span>
      } @empty {
      <span>No participants yet</span>
      }
    </div>
    <ul>
      <li>New participants: {{ newParticipants() }}</li>
      <li>Total participants: {{ totalParticipants() }}</li>
      <li>Remaining places: {{ remainingPlaces() }}</li>
    </ul>
  </main>
  <footer>
    <h4>New Bookings</h4>
    @if (remainingPlaces() > 0) {
    <label for="newParticipants">How many participants want to book?</label>
    <input
      type="number"
      [ngModel]="newParticipants()"
      (ngModelChange)="onNewParticipantsChange($event)"
      min="0"
      [max]="maxNewParticipants"
    />
    } @else {
    <span>Sorry, no more places available!</span>
    <button class="secondary outline" (click)="onNewParticipantsChange(0)">Reset</button>
    }
    <button [disabled]="booked() || remainingPlaces() <= 0" (click)="onBookClick()">
      Book now!
    </button>
    {{ booked() ? bookedMessage() : '' }}
  </footer>
</article>
}
